services:
  db:
    image: postgres:15
    container_name: notes_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: notes_backend
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    networks:
      - app-network
    ports:
      - "${BACKEND_PORT}:8000"

  frontend:
    build: ./frontend
    container_name: notes_frontend
    restart: always
    depends_on:
      - backend
    networks:
      - app-network
    ports:
      - "${FRONTEND_PORT}:80"

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
