services:
  traefik:
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "8080:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  
  backend:
    labels:
      - "traefik.http.routers.backend.rule=PathPrefix(`/api`)"
  
  frontend:
    labels:
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"