services:
  traefik:
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "8080:80"

  backend:
    labels:
      - "traefik.http.routers.backend.entrypoints=web"

  frontend:
    labels:
      - "traefik.http.routers.frontend.entrypoints=web"
