.pageHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 10;
}

#notesGridDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    width: 70vw;
    padding: 20vh 100px 100px 100px;
}

.notesCard {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.notesCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.notesCard h3 {
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.notesCard p {
    font-size: 1rem;
    color: #555;
    line-height: 1.4;
}

.notesCard small {
    font-size: 0.8rem;
    color: #777;
}

.floatingButton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 28px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.2s;
  z-index: 1500;
}

.floatingButton:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
