:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(55, 55, 55, 0.87);
  text-align: center;
}

#notesList {
  margin-bottom: 20px;
  padding: 20px;
  max-width: 50vw;
}

#noteContainer {
  word-wrap: break-word;
  border: 2px solid gray;
  margin-bottom: 20px;
  padding: 0px 50px 20px 50px;
  border-radius: 10px;
  text-align: left;
}